/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
background-color: #001030;
  font-family: "DejaVuSans";
  font-weight:normal;
  font-size: 14pt;

}

.droite{

}


h1{
  font-size:42pt;
  font-weight: normal;
  text-align: center;
  opacity: 1;
  color: #FFD000;
}
h2{
  font-size: 32pt;
  font-weight: lighter;
  text-align: center;
  color: #FFD000;

}
h3{
  font-size: 16pt;
  text-align: left;
  font-weight: lighter;
  color: #FFD000;
}
h4{
  font-size: 16pt;
  text-align: left;
  font-weight: lighter;
  color: #FFD000;
}
h5{
  font-size: 16pt;
  text-align: left;
  font-weight: lighter;
  color: #FFD000;

}
p{
  font-size: 12pt;
  text-align: center;
  font-weight: lighter;
  color: #FFFFFF;
}
.p1 {
  text-align: left;
  font-weight: lighter;
  font-size: 12pt;
  color: #FFFFFF;
}
.p2{
  text-align: left;
  font-weight: lighter;
  font-size: 12pt;
  color: #FFFFFF;

}

.gauche img{
  width:50mm;
  height: 50mm;
}
.gauche .fond{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;


}
