/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "DejaVuSansMono";
  font-weight:normal;
  font-size: 14pt;
  color : #C392C1

}

.droite{
}


.gauche{


}


h1{
  font-size:42pt;
  font-weight: lighter;
  text-align: inherit;
  color: #67C1BD
}

h2{
  font-size: 24pt;
  font-weight: lighter;
  text-align: left;
  color: #67C1BD
}

.gauche img{
  width:50mm;
  height:auto;
  float:right;
margin-left:50px;
  }

.flotte{
  float:right;
  margin-right:75px;
}

p{
text-align: left;
}
