/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "DejaVuSansMono";
  font-weight:normal;
  font-size: 12pt;
}

.droite{
}


.gauche{

}


h1{
  font-size:30pt;
  font-weight: lighter;
}

.gauche img{
  width:140mm;
}

.gauche img{

	height:50mm;
	width:auto;
}

.flotte{
	margin-left: 100px;
}