/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "Avenir";
  font-weight:normal;
  font-size: 12pt;
  background-color:#a41737

}

.droite{
}


.gauche{


}


.list {
 color : #fff;
 font-size : 18pt;
font-family: "Avenir Next LT Pro";
margin-left: 40px;
margin-bottom: 100px;

}

.trait {
height: 5px;
width: 250px;
background-color: #fff;
margin:0 auto 60px auto; /*faire tj des margins vers le bas */
display: block; /* c'est pour savoir que c'est un block, utile pour les margin       */

}



h1{
  font-family: "Arial";
  font-size:30pt;
  font-weight: bold;
  color : #ffffff;
  text-align : left;
  width:50mm;
  top:0;

}

h2 {


}


.texte{
  color: #fff;
  font-family: "Avenir Next LT Pro";
  font-size: : 12pt;
  text-align: justify;
  margin-left: 330px;
  margin-right: 30px;
  margin-bottom: 60px;


}

.gauche img{
position: absolute;
right: 50px;
top: 50px;
}

.image2{
position: absolute;
left: 20px;
margin-top: 500px;

}


.trait2{
  height: 5px;
  width: 250px;
  background-color: #fff;
  margin:0 auto 60px auto; /*faire tj des margins vers le bas */
  display: block; /* c'est pour savoir que c'est un block, utile pour les margin       */

}

.texte2{
font-size: 12pt;
color: #fff;
font-family:"Avenir Next LT Pro";
text-align: justify;
margin-left: 30px;
margin-right: 350px;
margin-bottom: 20px;
}


.image3{
position: absolute;
left: 350px;
top: 90px;
}

.trait3{
  height: 5px;
  width: 250px;
  background-color: #fff;
  margin:0 auto 60px auto; /*faire tj des margins vers le bas */
  display: block; /* c'est pour savoir que c'est un block, utile pour les margin */
  }

.texte3{
  font-size: 12pt;
  color: #fff;
  font-family:"Avenir Next LT Pro";
  text-align: justify;
  margin-left: 360px;
  margin-right: 105px;
  margin-top: 85px;
  margin-bottom: 90px;
}

.image4{
  position: absolute;
  left: 60px;
  top: 480px;

}

.trait4{
  height: 5px;
  width: 250px;
  background-color: #fff;
  margin:0 auto 60px auto;
  display: block;
}

.texte4{
  font-size: 12pt;
  color: #fff;
  font-family:"Avenir Next LT Pro";
  text-align: center;
  margin-left: 120px;
  margin-right: 120px;
  margin-bottom: 100px;

}
