/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "Arial";
  font-weight:normal;
  font-size: 14pt;
}

.droite{

}

.gauche{
text-align: center;
}


.flotte1 img{
  position: absolute;
  top: 263px;
  left: 315px;
  width: 320px;
  height: 140px;

}


.flotte2 img{

  position: absolute;
  top: 550px;
  left: 40px;
  width: 90mm;
  height: auto;
}

.flotte3 img{

  position: absolute;
  top: 710px;
  left: 55px;
  width: 100mm;
  height: auto;
}

.flotte4 img{

  position: absolute;
  top: 28px;
  left: 280px;
  width: 100mm;
  height: 50mm;
}

.flotte5 img{

  position: absolute;
  top: 225px;
  left: 440px;
  width: 40mm;
  height: auto;
}

p{


}

h1{
  font-size:25pt;
text-align: center;
}

h2{
  font-size:15pt;
font-weight: lighter;
}

h3{
border-top: 4px solid #000;
width : 100px;
position: absolute;
top: 125px;
left: 310px;
}

h4 {
font-size: 15pt;
position: absolute;
left: 65px;
top: 190px;
text-decoration: underline;
}

h5 {
font-size: 15pt;
position: absolute;
left: 175px;
top: 183px;

}

ul {
  font-size:14pt;
  position:absolute;
  left: 40px;
  top: 248px;
  text-align: left;
}


h7 {
border-top: 4px solid #000;
width : 200px;
position: absolute;
top: 340px;
left: 140px;
transform: rotate(90deg);
}


h6 {
  font-size: 21pt;
  position:absolute;
  left : 330px;
  top: 143px;

}

h8 {
font-size: 12pt;
position: absolute;
text-align: center;
right: 90px;
top: 420px;
}


h9 {
font-size: 12pt;
position: absolute;
text-align: center;
left: 380px;
top: 595px;
}

h10 {

    font-size: 21pt;
    position:absolute;
    font-weight: bold;
    left : 65px;
    top: 497px;
}

h11 {

    font-size: 21pt;
    position:absolute;
    font-weight: bold;
    left : 45px;
    top: 30px;
}


h12 {
font-size: 12pt;
position: absolute;
text-align: right;
right: 15px;
bottom: 90px;
}

h13 {
font-size: 12pt;
position: absolute;
text-align: left;
left: 15px;
top: 90px;
}
