/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "DejaVuSans";
  font-weight:normal;
  font-size: 14pt;

}

.droite{
}


.gauche{

}

.ibniz{
  margin-left:70px;


}
.lalala{
margin-left : 160px;




}


h1{
  font-size:25pt;
  font-weight: lighter;
  color:#d9b75c
}

.gauche img{
  width:50mm;
}
.lalala2{
height:200mm;
width: auto;
margin-left : 200px;


}
}
