/* Styles css ( mise en forme ) de ma double page */

/*
Fonts dispo :

OpenSans

DejaVuSansMono
DejaVuSans
DejaVuSerif
DejaVuSerif-condensed

*/

.page{
  font-family: "Arial";
  font-weight:normal;
  font-size: 14pt;

}

.droite{

}


.gauche{

}

.ibniz{
  margin-left:70px;


}
.lalala{
margin-left : 80px;
}


.ouf {
  margin-left: 100px;
  }

h1{
  font-size:25pt;
  font-weight: lighter;
  color:#d9b75c
}

.gauche img{
  width:50mm;
}
.yolo img{
margin-left: 220px;

}
.map img{
  margin-left: 50px;
  }

.droite img{
width:74.9mm;

}
