<!DOCTYPE html>
<html class="preview spread">
  <head>
    <meta charset="utf-8">
    <title>Cuisine Graphique</title>

    <link rel="stylesheet" href="../assets/fonts/opensans/opensans.css">
    <link rel="stylesheet" href="../assets/fonts/dejavu/dejavu.css">
    <link rel="stylesheet" href="../assets/css/dist/main.css">
    <link rel="stylesheet" href="../build/styles.css">

  </head>
  <body>

    <!-- PAGES -->
    <div id="pages">

      <div id="couve1" class="paper">
        <div class="page">
          <div class="body">
              <h1>Cuisine Graphique</h1>
          </div>
        </div>
      </div>

      <div id="couve2" class="paper">
        <div class="page">
          <div class="body">
          </div>
        </div>
      </div>

      <div id="garde"  class="paper">
        <div class="page">
          <div class="body">
              <h1>Cuisine Graphique</h1>
          </div>
        </div>
      </div>

      <div id="couve3" class="paper">
        <div class="page">
          <div class="body">
          </div>
        </div>
      </div>

      <div id="couve4" class="paper">
        <div class="page">
          <div class="body">
          </div>
        </div>
      </div>

    </div>

  </body>
</html>
